* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #030712;
  --orange: #fb8c35;
  --gray: #7b7a80;
  --white: #fff;
  --font: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  background-color: #030712;
  border-bottom: 1px solid #7b7a80;
}
header .icon {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
nav .icontitle {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 30px;
}

nav h2 {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}
.navMobileContent {
  display: block;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.navMobile a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 4px 7px;
  font-family: Arial, Helvetica, sans-serif;
}
.navMobile a:hover {
  color: #fb8c35;
  transition: all 0.3s ease-in-out;
}
.icontitle .fa-bars {
  display: none;
}
.logotitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#cart-toggle {
  display: none;
}

/* carrito */
.cart {
  position: absolute;
  top: 80px;
  right: 20px;

  width: 320px;
  background: #030712;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);

  transition: 0.3s;
}

.nohayproducts {
  font-size: 20;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 600;
}

.total {
  font-size: 20px;
  color: #fff;
}

/* mostrar carrito */
#cart-toggle:checked ~ .cart {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.cart h3 {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.cart-item img {
  width: 35%;
  height: 100px;
  border-radius: 5px;
}

.cartButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}

.cartButtons button {
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: #fb8c35;
  color: #fff;
  cursor: pointer;
  outline: none;
  font-weight: 600;
}

.finalizarCompra {
  width: 100%;
  padding: 12px;
  border: none;
  background: #fb8c35;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

/* SECCION MAIN */
main {
  width: 100%;
  height: 100vh;
  padding: 10px 20px;

  background:
    radial-gradient(
      circle at bottom right,
      rgba(251, 140, 53, 0.15),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(251, 140, 53, 0.1),
      transparent 40%
    ),
    #030712;

  /* separar imagen con el contenido */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

main img {
  width: 45%;
  margin-top: 20px;
  transform: rotate(-5deg);
  animation: flotarVertical 4s ease-in-out infinite;
}

@keyframes flotarVertical {
  0%,
  100% {
    transform: translateY(0) rotate(-5deg);
  }
  50% {
    transform: translateY(-20px) rotate(-5deg);
  }
}

.contenidoMain {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  gap: 25px;
}

.contenidoMain div p {
  font-size: 18px;
  color: #fb8c35;
  background:
    radial-gradient(
      circle at bottom right,
      rgba(251, 140, 53, 0.15),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(251, 140, 53, 0.1),
      transparent 40%
    ),
    rgba(251, 140, 53, 0.1);
  border-radius: 20px;
  padding: 5px 10px;
}

.titles h1 {
  font-size: 3.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.orange {
  color: #fb8c35;
}

.white {
  color: #fff;
}

.contenidoMain p {
  color: #7b7a80;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.buttons button {
  width: 200px;
  padding: 15px 10px;
  border-radius: 20px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.buttonOrange {
  background-color: #fb8c35;
  color: #fff;
}

.buttonOutline {
  background-color: transparent;
  border: 1px solid #7b7a80;
  color: #fff;
}

/* SECCION FILTER */
.sectionfilter {
  width: 100%;
  background-color: #030712;
  padding: 20px 20px;
}

.containerFilter {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.cardFilter {
  width: 30%;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.cardFilter::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.2),
    transparent
  );

  z-index: 1;
}

.filterTitle {
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.cardFilter img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  display: block;
}

.contentFilter {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 30px;
}

.contentFilter .description {
  color: #7b7a80;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.contentFilter a {
  font-size: 17px;
  color: #e34e0d;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  align-self: flex-end;
}

.productsfilter {
  position: absolute;
  bottom: 30px;
  left: 25px;

  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.productsfilter h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: white;
}

.cardfilterdesc {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: beige;
}

.productsfilter a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.tag {
  background:
    radial-gradient(
      circle at bottom right,
      rgba(152, 189, 54, 0.22),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(152, 189, 54, 0.22),
      transparent 40%
    ),
    rgba(152, 189, 54, 0.22);
  font-size: 16px;
  padding: 5px 10px;
  color: #fff;
  border-radius: 20px;
}

/* SECTION PRODUCTOS */
.sectionProducts {
  background-color: #101828;
  width: 100%;
  padding: 60px 20px;
}

.contentProducts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  justify-content: center;
  padding: 10px 0px;
}

.contentProducts h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.contentProducts p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  color: #7b7a80;
}

.contentProducts a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #e34e0d;
  align-self: flex-end;
}

.containerProducts {
  width: 100%;
  display: flex;
  flex-direction: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.cardProduct {
  width: 24%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.cardProduct img {
  width: 100%;
  align-self: center;
  overflow: hidden;
  object-fit: contain;
}

.cardProduct div h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.cardProduct div p {
  font-size: 17px;
  margin-bottom: 10px;
}

.contentTitlecontent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contentTitlecontent h3 {
  font-size: 17px;
}

.contenticonprice {
  display: flex;
  gap: 7px;
  align-items: center;
}

.cardProduct button {
  width: 100%;
  padding: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  cursor: pointer;
  background-color: #fb8c35;
  color: #fff;
  border: none;
  font-weight: 600;
}

/* TABLET */
@media (max-width: 815px) {
  nav {
    padding: 5px 30px;
  }

  .navMobile {
    display: none;
    position: absolute;
    top: 77px;
    min-height: calc(100% + 240px);
    background-color: #030712;
    width: 100%;
    left: 0px;
    transition: all 0.3s ease-in-out;
  }

  .navMobileContent {
    flex-direction: column;
    gap: 20px;
  }

  .navMobile a {
    padding: 10px 40px;
  }

  .icontitle .fa-bars {
    display: block;
  }

  /* SECCION MAIN */
  main {
    padding: 40px 20px;

    /* separar imagen con el contenido */
    flex-direction: column;
    justify-content: flex-start;
  }

  main img {
    width: 90%;
  }

  .contenidoMain {
    width: 75%;
    align-items: center;
  }

  .contenidoMain div p {
    font-size: 15px;
  }

  .contenidoMain p {
    text-align: center;
  }

  .buttons {
    justify-content: center;
  }

  /* SECCION FILTER */
  .cardFilter {
    width: 45%;
  }

  .filterTitle {
    font-size: 37px;
  }

  .contentFilter .description {
    color: #7b7a80;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
  }

  /* SECCION PRODUCTOS */
  .containerProducts {
    justify-content: space-between;
    column-gap: 10px;
  }

  .cardProduct {
    width: 47%;
    justify-content: space-around;
  }
}

/* MOBILE */
@media (max-width: 390px) {
  nav {
    padding: 5px 30px;
  }

  nav .icontitle {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
  }

  .icontitle .fa-bars {
    display: block;
  }

  /* SECCION DEL MAIN */
  main {
    padding: 50px 20px;
    /* separar imagen con el contenido */
    flex-direction: column;
    justify-content: start;
  }

  main img {
    width: 100%;
  }

  .contenidoMain {
    width: 100%;
    align-items: center;
    gap: 10px;
  }

  .contenidoMain div p {
    font-size: 12px;
  }

  .titles h1 {
    font-size: 2.5rem;
  }

  .contenidoMain p {
    font-size: 18px;
    text-align: start;
  }

  .buttons button {
    width: 100%;
  }

  /* SECCION FILTER */

  .containerFilter {
    flex-direction: column;
  }

  .cardFilter {
    width: 100%;
  }

  .filterTitle {
    font-size: 30px;
  }

  .contentFilter {
    align-items: center;
    padding: 10px 0px;
  }

  .filterTitle {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
  }

  .contentFilter .description {
    color: #7b7a80;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
  }

  .contentFilter a {
    align-self: center;
  }

  /* SECCION PRODUCTOS */
  .contentProducts h1 {
    font-size: 2rem;
  }

  .contentProducts p {
    font-size: 18px;
    max-width: 200px;
  }

  .contentProducts a {
    align-self: center;
  }

  .containerProducts {
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 15px;
  }

  .cardProduct {
    width: 90%;
  }
}
